.header {

	width: 100%;
	max-height: 100px;
	height: 10%;
	font-family: Verdana;
	color: #333333;
	position: absolute;
	font-family: "Source Sans Pro", Helvetica, sans-serif;

}

.logo {

  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 100%;

}

.logo img{
	height: 100%;
}


.header_text {
	display: inline-block;
	position: absolute;
	bottom: 0px;
	padding-left: 20;
}

#subtitle {
	color: #888888;
	font-size: 2vh;
}

#title {
	color: #000000;
	font-size: 4vh;
}

.reveal h2 {
    color:#0d5dc4;
}

.reveal h3 {
    color:#0d5dc4;
}

.reveal section img { background:none; border:none; box-shadow:none;}

div .small-text{
	font-size: 4vh;
}

div .citation-text{
	margin-top: 2%;
	font-size: 2.5vh;
}

.reveal code  {
	background-color: #DDDDDD;
	color: #ff3f3f;
	font-size: 80%; 
}

.reveal pre {
	padding: 20 ;
	color: #333333;
	font-size: 40%;
	line-height: 1.3em;
	overflow: auto;
	 word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}